
body, html{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	height: 100%;
	background: #F1F1F1;
}


.content {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 40px 50px;
	min-height: 50%;
	background-color: rgba(255,255,255,1);
	border-radius: 30px;
	border: 4px solid #AAF0D1;
}

/*---TOPBAR---*/


.topbar {
	height: 100px; /*130px*/
 	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	border-bottom: 5px solid #DCDCDC;
}


.topbar .toptitle {
	margin-top: 40px;
}

.topbar a {
	color: #464646;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 50px;
	padding-left: 40px;
}

.topbar a:hover {
  color: #7F7F7F;
}




/*---TITLE BAR---*/

.titlebar {
	height: 150px;
	margin-top: 100px;
	left: 0;
	right: 0;
	background-color: rgba(170,240,209,1);
	border-bottom: 4px solid #D0D0D0;
}

.titlebar .error {
	height: 150px;
	margin-top: 100px;
	left: 0;
	right: 0;
	border-bottom: 4px solid #D0D0D0;
	background-color: #BF0000;
	color: black;
	text-align: center;
}

.titlebar h1 {
	padding-top: 50px;
	font-size: 21px;
	text-align: center;
}

.titlebar .loginform {
	text-align: center;
	padding-top: 10px;
}

.titlebar .logout{
	text-align: center;
	margin-top: -10px;
}

.titlebar input[type=submit], .titlebar input[type=reset] {
	font-size: 10px;
	margin-top: 3px;
	padding: 3px 10px 4px;
}



/*---FOOTER--*/

.footer {
	text-align: center;
	margin-bottom: 10px;
}



/*---TABLE---*/

table, td, th {
	margin: 0px 50px;
	border: 1px solid #C2C2C2;
}

table {
	border-radius: 5px;
}

td, th {
	height: 30px;
	border-radius: 3px;
}

th {
	background-color: #C2C2C2;
	color:white;
}

table a {
	color: #469B83;
	text-decoration: none;
}

table a:hover {
	color: #5ECEAE;
}